@{
    ViewData["Title"] = "Home Page";
}

<div class="row" >
    <div class="col-md-4 mx-auto">

   
<form method="POST" action="/Home/Login" autocomplete="off" style="margin-top:200px">
    <p style="text-align:center;">ADMİN PANELİ GİRİŞ</p> 
<div class="form-group">
    <input type="text" class="form-control" name="Email">
</div>
<div class="form-group">
    <input type="password" class="form-control" name="Password">
</div>
<br />
<center><button type="submit" class="btn btn-secondary">Login</button></center>

</form>
     
    </div>
</div>
