

 
   <div class="masthead">
<img src="~/assets/img/aboutMe.jpg" style="width:100%;height:600px;" alt="Img" class=img-fluid rounded>



              <p style="margin-right:50px ;margin-left:50px;" class="mb-0 font-weight-bold">
                  The term "metaverse" originated in the 1992 science fiction novel Snow Crash as a portmanteau of 
                  "meta" and "universe." Metaverse development is often linked to advancing virtual reality technology due to 
                  increasing demands for immersion.Recent interest in metaverse development is influenced by Web3,
                  a concept for a decentralized iteration of the internet. Web3 and The Metaverse have been used as buzzwords
                  to exaggerate development progress of various related technologies and projects for public relations purposes.
                  Information privacy, user addiction, and user safety are concerns within the metaverse, stemming from challenges 
                  facing the social media and video game industries as a whole.
                  
                    Metaverse platforms have the potential to transform how,
                    when and where companies interact with their customers, as extended reality platforms enable businesses to
                    deliver new experiences and provide information in new ways.In this respect, our aim is to deliver the most accurate
                    information to everyone and to move forward on this path.
                </p>



</div>         

