


<div class="masthead">
<img src="~/assets/img/contact.jpg" style="width:100%;height:300px;" alt="Img" class=img-fluid rounded>
</div>


           <div style="margin-left:40%;" class="col-md-5">
                <p class="mb-0 font-weight-bold">Adres</p>
                <p class="mb-4">İzmir/Rea Technology</p>


                <p class="mb-0 font-weight-bold">Email Address</p>
                <p class="mb-0"><a href="#">bestesakarr@hotmail.com</a></p>

                <p class="mb-0 font-weight-bold">Telephone Number</p>
                <p class="mb-0"><a href="#">05074187039</a></p>
            </div>


